<!DOCTYPE html>
<html>
  <head>
    <title>Remotearn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/19dd39bb77.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="mx-auto">
      <%= render  "shared/nav" %>
      <%= yield %>
      <%= render  "shared/footer" %>
    </div>
  </body>
</html>
